{% extends 'base.html.twig' %}

{% block body %}
    <h1>Products list</h1>

    <table>
        <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Price</th>
            <th>Description</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for livre in livres %}
            <tr>
                <td><a href="{{ path('livre_show', { 'id': livre.id }) }}">{{ livre.id }}</a></td>
                <td>{{ livre.livTitre }}</td>
                <td>{{ livre.livAuteur }}</td>
                <td>{{ livre.livDescription }}</td>
                <td>{{ livre.livDateParution }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('livre_show', { 'id': livre.id }) }}">show</a>
                        </li>
                        {#<li>#}
                            {#<a href="{{ path('livre_edit', { 'id': livre.id }) }}">edit</a>#}
                        {#</li>#}
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('ajouter') }}">Create a new livre</a>
        </li>
    </ul>
{% endblock %}
